body, html {
    margin: 0;
    padding: 0;
}

.background{
    position: fixed;
    width: 101vw;
    height: 101vh;
    background-image: url('../assets/images/background.png');
    background-repeat: no-repeat;
    background-position: center;
    top: -1px;
    left: -1px;
    z-index: -1;
    background-size: cover;
}

@media (max-aspect-ratio: 1.377) and (min-aspect-ratio: 1) {
    .background {
        background-position: 25% 0;
    }
}

@media (max-aspect-ratio: 1.9) and (min-aspect-ratio: 1.377) {
    .background {
        background-position: 35% 0;
    }
}

@media (max-aspect-ratio: 1) {
    .background {
        top:10%;
        height: 40%;
        background-position: 28% 0;
        background-size: cover;
    }
}

